.show_game
	%h2= @game.name
	= image_tag @game.box_art
	.display.game_info
		%p= "#{@game.name} for #{@game.platform.name}"
		%p= "Genre: #{@game.genre}"
		%p= "Price: #{number_to_currency @game.price}"
		%p= "ESRB Rating: #{@game.rating}"
		%p= "Developer: #{@game.developer}"
		%p= "Current Stock: #{@game.stock_quantity}"
	= button_to "Add to cart", add_item_path(id: @game.id, name: @game.name), :class => "btn btn-default btn-lg"
	