%h2 Order Complete!

%p Thank you for shooping at the Brick With Buttons webstore!

.display
	%p= "Name: #{@customer.first_name} #{@customer.last_name}"
	%p= "Games: #{@order.cart_items.count}"
	%p= "Order Total with tax: #{number_to_currency @total}"