%h2 Search Results

- term = "\"#{params[:keywords]}\""
- if @games.empty?
	%p= "Bogus, #{term} returned no results!"
- else
	%p= "Displaying #{pluralize @count, "result"} for #{term}"
	.display
		= render @games
	= paginate @games, :params => {authenticity_token: nil, utf8: nil}