%h2 Search Results
.display
	- if @games.empty?
		%p= "Bogus, \"#{params[:keywords]}\" returned no results!"
	- else
		%p= "Displaying #{@count} results"
		.display
			= render @games
		= paginate @games, :params => {authenticity_token: nil, utf8: nil}