%footer
	%div.copy
		%p= "Brick With Buttons \u00A9 #{DateTime.now.year}"
		%p= "Gannon McGibbon"
	= link_to root_path do
		= image_tag("logo.png", :class => "logo", alt: "Brick With Buttons Logo")