%header.navbar.navbar-default
	.navbar-header
		%button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		= link_to root_path, {:class => "navbar-brand"} do
			= image_tag("logo.png", :class => "logo", alt: "Brick With Buttons Logo")
			%h1#title Brick With Buttons
	.navbar-collapse.collapse.navbar-responsive-collapse
		%ul.nav.navbar-nav.navbar-left
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
					Products
					%b.caret
				%ul.dropdown-menu
					%li.dropdown-header Shop for Games by:
					%li.divider
					%li
						=link_to "Platform", :controller => "shop", :action => "shop_platform"
					%li
						=link_to "ESRB Rating", :controller => "shop", :action => "shop_rating"
					%li
						=link_to "Price", :controller => "shop", :action => "shop_price"
					%li
						=link_to "Date Added", :controller => "shop", :action => "shop_date"
		%ul.nav.navbar-nav.navbar-left
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
					Pages
					%b.caret
				%ul.dropdown-menu
					%li.dropdown-header All Pages:
					%li.divider
					- @all_pages.each do |page|
						%li
							=link_to page.title, page
		%ul.nav.navbar-nav.navbar-right
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
					Cart
					%b.caret
				%ul.dropdown-menu
					%li.dropdown-header Current Items:
					%li.divider
					- if @cart.empty?
						%li.nav-text None
					- else
						- @cart.each do |item|
							%li.nav-text
								="#{item[:quantity]} x #{item[:name]}"
								= button_to "X", remove_item_path(id: item[:id], name: item[:name]), :class => "btn btn-default"
					%li.clear_cart= button_to "Remove all", remove_all_path, :class => "btn btn-default" unless @cart.count < 2
					%li.divider
					%li= link_to "Checkout", checkout_path unless @cart.count < 1
		= form_tag({:controller => "shop", :action => "search"}, {:class => "navbar-form navbar-right"}) do
			= text_field_tag :keywords, "", {:class => "form-control col-lg-8", placeholder: "Search...", type: "text"}
		