!!! 5
%html
  %head
    %title Brick With Buttons - Platfrom
    = stylesheet_link_tag    "platform", :media => "all"
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = stylesheet_link_tag    "bootpolish", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/header"
    %section#content
      = yield
    = render :partial => "layouts/footer"
