!!! 5
%html
  %head
    %title Brick With Buttons - Shop
    = stylesheet_link_tag    "shop", :media => "all"
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = stylesheet_link_tag    "bootpolish", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/header"
    %section#content
      %p.msg= flash.now[:msg]
      = yield
    = render :partial => "layouts/footer"
